<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Search</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/action.js"></script>
  </head>
  <body onload="bootstrap()">
    <div id="app">
      <div class="input-wrapper" :class="{ vacant: vacantInput }">
        <input
          v-model="searchStr"
          @input="scheduleRefresh()"
          @focus="focusOnInput = true"
          @blur="focusOnInput = false"
          @keydown.esc="$refs.input.blur()"
          placeholder="Type to ask JieGe"
          ref="input">
      </div>

      <div class="entries">
        <div class="stats" v-if="info"><strong>{{ info.total }}</strong> records in <strong>{{ info.time }}</strong> secs</div>

        <div class="entry" v-for="e of list" @click="load(e.id)">
          <h2>{{ e.title }}</h2>
          <small class="main-time">{{ e.time }}</small>
          <small>{{ e.preview }}...</small>
        </div>
      </div>

      <div class="empty-hint" v-if="list.length === 0 && !running">Nothing's here, boy</div>
      <div class="empty-hint" v-if="list.length === 0 && running">Querying...</div>
      
      <div class="pager" :class="{ 'pager-hidden': pagerSpec === null }">
        <div class="pager-row" v-if="pagerSpec">
          <div class="pager-slot pager-slot-top"
               v-for="(e, i) of pagerSpec.top"
               :style="{ color: jiegeRainbow(e, i === pagerSpec.activeSlot) }">{{ e }}</div>
        </div>
        <div class="pager-row" v-if="pagerSpec">
          <div class="pager-slot pager-slot-bottom" v-for="(e, i) of pagerSpec.bottom" @click="tryPage(e)"
            :class="{ 'active-page': i === pagerSpec.activeSlot, 'deco-slot': !Number.isInteger(e) }">{{
            renderPager(e, i === pagerSpec.bottom.length -1 || i === pagerSpec.activeSlot)
            }}</div>
        </div>
      </div>

      <div class="post-backdrop" v-if="rendering" @click="dismiss()">
        <div class="post" @click.stop>
          <div class="uri"><a :href="rendering.uri">{{ rendering.uri }}</a></div>
          <h1 class="title">{{ rendering.title }}</h1>
          <div class="time">{{ rendering.time }}</div>
          <div class="source">{{ rendering.source }}</div>
          <div class="rendered" v-html="rendering.rendered"></div>
          <div class="recommends">
            <h2 class="recommends-title">Recommendations</h2>
            <div class="recommend" v-for="r of rendering.recommends" @click="load(r.id)">
              <h3 class="recommend-title">{{ r.title }}</h3>
              <div class="recommend-preview">{{ r.preview }}...</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
