* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

input, button, textarea {
  font-family: sans-serif;
}

body {
  padding: 40px 40px 120px 40px;
  background: #EEE;
}

.input-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;

  box-shadow: rgba(0,0,0,.3) 0 -4px 12px;
  background: white;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;

  transition: height .5s ease;

  /* cursor: text; */
}

.input-wrapper.vacant {
  height: 100vh;
}

.input-wrapper input {
  width: 100%;
  height: 100px;

  padding: 0px 40px;
  line-height: 100px;
  font-size: 32px;
  transition: font-size .3s ease;

  border: none;
  outline: none;
}

.input-wrapper.vacant input {
  font-size: 64px;
  transition: font-size .3s .2s ease;
}

.entries {
  max-width: 540px;
  margin: 0 auto;
}

.entry {
  display: inline-block;
  background: white;
  position: relative;
  padding: 20px 40px 40px 40px;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,.3) 0 2px 6px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: box-shadow .2s ease;
}

.entry:hover {
  box-shadow: rgba(0,0,0,.5) 0 4px 12px;
}

.pager {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 160px;
  padding-bottom: 100px;
  background: white;
  box-shadow: rgba(0,0,0,.5) 0 -2px 6px;
  border-radius: 0 4px 0 0;

  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  transition: transform .5s ease-out;
}

.pager-hidden {
  transform: translateY(70px);
  transition: transform .5s ease-in;
}

.pager-row {
  display: inline-block;
}

.pager-slot {
  height: 16px;
  width: 30px;
  line-height: 16px;
  font-size: 16px;
  /* font-family: monospace; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.pager-slot-top {
  font-weight: bold;
}

.pager-slot-bottom {
  opacity: .54;
  transition: opacity .2s ease;
  cursor: pointer;
}

.pager-slot-bottom.active-page {
  opacity: 1;
}

.pager-slot-bottom:hover {
  opacity: 1;
}

.pager-slot-bottom.deco-slot {
  cursor: default;
}

.pager-slot-bottom.deco-slot:hover {
  opacity: .54;
}

.hint {
  font-size: 16px;
  color: rgba(0,0,0,.38);
}

.empty-hint {
  position: fixed;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 54px;
  font-weight: bold;
  color: rgba(0,0,0,.38);
}

.stats {
  font-size: 14px;
  text-align: center;
  color: rgba(0,0,0,.38);
  margin-bottom: 20px;
}

.post-backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  z-index: 200;
  background: rgba(0,0,0,.2);
  padding: 0 80px;
  overflow-y: scroll;

  cursor: pointer;
}

.post {
  background: white;
  max-width: 720px;
  margin: 80px auto;
  padding: 40px;
  box-shadow: rgba(0,0,0,0.3) 0px 4px 12px;
  cursor: default;
}

.title {
  font-weight: bold;
  margin-top: 0px;
}

.source, .time, .uri {
  color: rgba(0,0,0,.54);
  margin-bottom: 10px;
  margin-right: 20px;
  display: inline-block;
}

.uri a {
  color: rgba(0,0,0,.54);
  transition: color .2s ease;
}

.uri a:hover {
  color: rgba(0,0,0,.87);
}

.rendered {
  margin-top: 20px;
}

.recommends {
  padding: 30px 40px;
  border-radius: 4px;
  background: #EEE;
  box-shadow: rgba(0,0,0,.3) 0 2px 6px inset;
  margin-top: 40px;
}

.recommends-title {
  margin-top: 0;
}

.recommend {
  padding: 20px;
  border-left: rgba(0,0,0,.3) 5px solid;
  margin-top: 20px;

  opacity: .7;
  transition: opacity .2s ease;
  cursor: pointer;
}

.recommend:hover {
  opacity: 1;
}

.recommend-title {
  margin-top: 0;
}

.entry h2 {
  margin-bottom: 5px;
}

.main-time {
  margin-bottom: 20px;
  color: rgba(0,0,0,.38);
  display: block;
}
